# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Dependencies
package-lock.json
yarn.lock

# Build files
dist/
build/

# IDE and Editor files
.vscode/
.idea/
*.iml

# OS Files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
